.criterionselector-search {
	width: 33%;
}

.criterionselector-search input {
	width: 100%;
}

.criterionselector-select {
	width: 100%;
	height: 150px;
}

.criterionselector-table {
	width: 100%;
}

.criterionselector-table th,.criterionselector-table td {
	width: 33%;
}

.criterionselector-table th {
	font-style: italic;
}

.criterionselector-desc {
	width: 100%;
	border: 1px solid #BABABA;
}

.criterionselector-desc td,.criterionselector-desc th {
	text-align: left;
}

.criterionselector-desc-title {
	width: 25%;
}

.criterionselector-children {
	margin-top: 10px;
}