.column-fte-name {
	width:30%;
}
.column-fte-description {
	width:60%;
	padding-left:10px;
}
.column-fte-remove {
	width:10%;
	text-align:center;
}

.column-fte-alternative {
	width:15%;
	text-align:center;
}

.column-fte-description-2 {
	width:85%;
	text-align:center;
	padding-left:20px;
}

.column-fte-aso {
	width:15%;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	text-align: center;
}

.column-fte-rac {
	width:75%;
	border-bottom: 1px solid white;
}

.column-fte-unit{
	width:10%;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}



.fte-tabPanel {
	height:150px;
	width:90%;
}