

table.rf-tb {
	/*background-image: url(#{request.contextPath}/resources/gfx/menu.png);*/
	background-image: url(none);
	background-color: #017298;
	padding-left: 10px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px solid black;
	height: 30px;
}

td.rf-tb-itm {
	background: #017298;
	border: 1px solid #017298;
}

td.rf-tb-itm:hover {	
	background: #1c8baf;
	border: 1px solid gray;
}

td.rf-tb-itm a {
	color: white;
}

td.rf-tb-itm a:hover {
	color: #cccccc;
}

td.rf-tb-itm span {
	color: gray;
	font-size:14px;
}

div.rf-ddm-sel {
	background: #1c8baf;
	border: 1px solid #1c8baf;
}

div.rf-ddm-unsel {
	
}

div.rf-ddm-lbl {
	/*height:30px;*/
}

div.rf-ddm-lbl-dec {
	color:white;
	font-size: 14px;
	/*margin-top: 5px;*/
}

span.rf-ddm-itm-lbl {
	color:white;
	font-size: 14px;
}

span.rf-ddm-itm-lbl:hover {
	color:#cccccc;
	font-size: 14px;
}

div.rf-ddm-itm-unsel {
	border: 0;
	/*background: white;*/
}

div.rf-ddm-itm-sel {
	background: #1c8baf;
	border: 0;
}

div.rf-ddm-lst-bg{
	background: #1c8baf;
	border: 0;
}


span.rf-ddm-itm-lbl a {
	border: 0;
}

span.rf-ddm-itm-lbl a {
	color: white;
}

span.rf-ddm-itm-lbl a:hover {
	color: #cccccc;
}

/**
index.xhtml
*/

div.menu-title {
	width:100%;
	/*background:#99CCFF;*/
	height:40px;
	padding-top:2px;
	padding-left:15px;
	margin-bottom: 5px;
	border-radius: 5px;
}


div.menu-container-actions {
	margin-left:auto;
	margin-right:auto;
	width: 800px;
	/*background:red;*/
	text-align:center;
}

.alert-box{
	border-style: solid;
	border-width: 1px;
	display: block;
	font-weight: normal;
	margin-bottom: 1rem;
	position: relative;
	padding: 0.77778rem 1.33333rem 0.77778rem 0.77778rem;
	font-size: 0.72222rem;
	background-color: #008cba;
	border-color: #007ba0;
	color: white;	
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f;
}
.close {
font-size: 1.22222rem;
padding: 9px 6px 4px;
line-height: 0;
position: absolute;
top: 50%;
margin-top: -0.61111rem;
right: 0.22222rem;
color: #333333;
opacity: 0.3;
}

/* xxx remove */
div.menu-container-information {
	margin-left:auto;
	margin-right:auto;
	width: 900px;
	background:white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-radius: 5px;
	box-shadow: 0px 1px 3px 2px #888;
	font-family: Helvetica;
}
/* remove before*/

ul.actions {
	list-style-type: none;
	padding: 0px;
}

li.home-item {
	display: inline-block;
	background: white;
	border: 1px solid #B2B2B2;
	border-radius: 3px;
	width:150px;
	height:120px;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	margin-bottom:10px;
	box-shadow: 0px 1px 3px 2px #cccccc;
	text-align: center;
	padding-top: 5px;
}



div.home-item-container {
	margin-left: auto;
	margin-right:auto;
	background:white;
	height:118px;
	width:144px;
	background-image: url(#{request.contextPath}/resources/gfx/menu-item-background.png);
}

div.home-item-container:hover {
	margin-left: auto;
	margin-right:auto;
	background:white;
	height:118px;
	width:144px;
}


a {
	text-decoration: none;
	font-size: 14px;
}

div.home-item-text {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	width: 130px;
	height: 20px;
	color:black;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}

.margin-top {
	margin-top:10px;
}

.margin-bottom {
	margin-bottom:10px;
}

.margin-left {
	margin-left:10px;
}

.margin-right {
	margin-right:10px;
}

