/**
 css only for plans.xhtml file 
 */
input.input-dir {
	width: 30%;
	margin-right: 10px;
}

.plans-row1 {
	background-color: #F2F2F2;
	padding-bottom: 5px;
	font-size: 12px;
}

.plans-row2 {
	background-color: #EEEEEE;
	padding-bottom: 5px;
	font-size: 12px;
}

.column-type {
	width: 6%;
	text-align: center;
	border: 1px solid white;
}

.column-id {
	width: 6%;
	text-align: center;
	border: 1px solid white;
}

.column-name {
	min-width: 6%;
	padding-left: 5px;
	padding-right: 2px;
	border: 1px solid white;
}

.column-description {
	width: auto;
	padding-left: 10px;
	border: 1px solid white;
}

.column-author {
	width: 10%;
	text-align: center;
	border: 1px solid white;
}

.column-state {
	width: 10%;
	text-align: center;
	border: 1px solid white;
}

.column-action {
	width: 10%;
	text-align: center;
	border: 1px solid white;
}
.column-action img{
	margin-bottom: -8px;
}
.column-action input.loadPlan{
	width: 100%;
}

.column-locked {
	width: 34px;
	text-align: center;
	border: 1px solid white;
}

.plan-action {
	vertical-align: inherit;
}

.plan-locked img {
	vertical-align: middle;
}