body {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background: #DADADA;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-family: Verdana, sans-serif;*/
	font-size: 0.9em;
	/*width: 1024px;*/
}

#main-div {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 0px;
	border: 1px solid #BABABA;
	background: white;
}

#header {
	width: 996px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 0px;
	/* height: 100%;*/
}

#bear { /*background:blue;*/
	width: 600px;
	height: 60px;
	/* display: inline-block; */
	float: left;
	margin: 0;
	padding: 0;
}

#scape {
	width: 400px;
	height: 60px;
	/*background:red;*/
	/* display:inline-block; */
	text-align: right;
	padding: 0;
	margin: 0 0 0 600px;
}

#scape a {
	color: blue;
	font-size: 12px;
}

#menu-toolbar {
	width: 1000px;
	background: white;
	/*height: 30px;*/
	margin: auto;
	margin-top: 1px;
}

#feedback {
	position: fixed;
	top: 50%;
	right: -70px;
	width: 150px;
	height: 30px;
	border: 3px solid white;
	background-color: #0D709E;
	color: white;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	text-align: center;
	vertical-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
	font-weight: bold;
	letter-spacing: 2px
}

#feedback a {
	color: white;
	font-size: 22px;
	font-family: "Courier New", Courier, monospace;
	cursor: pointer;
}

#content {
	width: 996px;
	margin: auto;
	margin-top: 20px;
	/* width: 1024px;*/
}

#sidebar {
	font-size: 0.9em;
	width: 225px;
	float: right;
	border: 1px solid #666666;
	background: #EAECEE;
	padding: 0 15px 5px 15px;
}

#sidebar ul {
	padding-left: 30px;
}

#footer {
	clear: both;
	text-align: center;
	color: #666666;
	font-size: 0.85em;
	padding: 3em 0 0 0;
}

#title {
	width: 100%;
	height: 55px;
	/*background: #f2f2f2;*/
	padding-top: 0px;
}

code {
	font-size: 1.1em;
}

span.invalid {
	padding-left: 3px;
	color: red;
}

/*
stuff to reuse in different components 
*/
.center-position {
	width: 95%;
	margin-left: 2%;
	padding-right: 10px;
}

h1 {
	border-bottom: 1px solid #E6E6E6;
	color: #7F7F7F;
	font-size: 22px;
}

h2 {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16px;
}

h3 {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;
}

h1 img, h2 img, h3 img {
	vertical-align: middle;
}

ul.anchors {
	list-style-type: none;
}

li.anchors {
	margin-top: 5px;
}

a.anchors {
	text-decoration: none;
}

#anchors {
	margin-left: 10px;
	float: left;
	width: 250px;
	overflow: hidden;
}

.wfdescription {
	padding: 10px;
	margin-right: 40px;
	vertical-align: middle;
	font-size: 13px;
	font-family: Helvetica;
	font-style: italic;
	color: #888;
}

.wfdescription .more {
	float: right;
}

.wfdescription .more a {
	font-size: 13px;
}

.wfstepinfo {
	margin-bottom: 25px;
	/* Force container to size of flow element */
	overflow: auto;
	width: 100%
}

div.size-full {
	clear: both;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

fieldset.size-full {
	clear: both;
	background: #F2F2F2;
	text-align: left;
	/*width:95%;*/
	/*margin-left: 2%;*/
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 10px;
	font-family: Helvetica;
}

.fieldset-full-size-legend {
	font-weight: bold;
	font-size: 15px;
	color: #949494;
	background: #D9E0F7;
	border: 1px solid #BABABA;
	padding: 2px 6px;
}

.component { /*display: block;*/
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
}

.label {
	width: 30%;
	text-align: right;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	float: left;
	padding-right: 5px;
}

.icon {
	width: 28px;
	height: 28px;
}

/* 
Defines the input text fields and text areas.
Creates the blue bar on the left and adds the
glow when focused.
*/
.input {
	display: inline-block;
	width: 60%;
}

input[type="text"],input[type="password"],select,textarea {
	background-image: none;
}

.input input[type=text],.input input[type="password"],.input textarea {
	padding: 2px;
}

.input select {
	padding: 1px;
}

.input input[type=text],.input input[type="password"],.input select,.input textarea
	{
	margin-right: 0;
	background-color: white;
	border-top: 1px solid #155C89;
	border-right: 1px solid #155C89;
	border-bottom: 1px solid #155C89;
	border-left: 11px solid #155C89;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	outline: none;
}

.input input[type=text]:focus,.input input[type="password"]:focus,.input select:focus,.input textarea:focus
	{
	box-shadow: 2px 1px 5px #155C89;
}

.input input[type=text]::-webkit-input-placeholder,.input input[type=password]::-webkit-input-placeholder,.input textarea::-webkit-input-placeholder
	{
	color: #BABABA;
}

.input input[type=text]:-moz-placeholder,.input input[type=password]:-moz-placeholder,.input textarea::-moz-placeholder
	{
	color: #BABABA;
}

.input-inline input[type=text],.input-inline input[type="password"],.input-inline input[type="checkbox"],.input-inline select,.input-inline textarea
	{
	border-left: 2px solid #155C89;
	font-size: 10px;
}

.p-input-text {
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.p-input-textarea {
	width: 100%;
	height: 60px;
	padding: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.p-select {
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.input-no-label {
	display: inline-block;
	width: 90%;
}

/* Standard submit button */
input[type=submit],input[type=button],.default-button,.download-link,.show-meta-data,.trash,.play {
	-moz-box-shadow: inset 0px 1px 0px 0px #D9D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #D9D6D6;
	box-shadow: inset 0px 1px 0px 0px #D9D6D6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CFCDCD
		), color-stop(1, #B0AEAE) );
	background: -moz-linear-gradient(center top, #CFCDCD 5%, #B0AEAE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCDCD',
		endColorstr='#B0AEAE' );
	background-color: #999898;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #999898;
	display: inline-block;
	color: #525151;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #D8D6D6;
	margin: 0px 0px;
	min-height: 30px;
	line-height : 30px;	
	vertical-align: middle;

}

input[type=submit]:hover,input[type=button]:hover,.default-button:hover,.download-link:hover,.show-meta-data:hover,.trash:hover,.play:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B0AEAE), color-stop(1, #CFCDCD) );
	background: -moz-linear-gradient(center top, #B0AEAE 5%, #CFCDCD 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0AEAE', endColorstr='#CFCDCD' );
	background-color: #999898;
	color: #525151;
}

a.download-link, input.download-link {
	background: url(#{request.contextPath}/resources/gfx/icons/picol/download.svg) no-repeat 5px 2px, -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CFCDCD), color-stop(1, #B0AEAE) );
	background: url(#{request.contextPath}/resources/gfx/icons/picol/download.svg) no-repeat 5px 2px, -moz-linear-gradient(center top, #CFCDCD 5%, #B0AEAE 100%);
	background: url(#{request.contextPath}/resources/gfx/icons/picol/download.svg) no-repeat 5px 2px, linear-gradient(top, #CFCDCD, #B0AEAE);
}
a.download-link:hover, input.download-link:hover {
	background: url(#{request.contextPath}/resources/gfx/icons/picol/download.svg) no-repeat 5px 2px, -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B0AEAE), color-stop(1, #CFCDCD) );
	background: url(#{request.contextPath}/resources/gfx/icons/picol/download.svg) no-repeat 5px 2px, -moz-linear-gradient(center top, #B0AEAE 5%, #CFCDCD 100%);
	background: url(#{request.contextPath}/resources/gfx/icons/picol/download.svg) no-repeat 5px 2px, linear-gradient(top, #B0AEAE, #CFCDCD);
}

a.show-meta-data, input.show-meta-data {
	background: url(#{request.contextPath}/resources/gfx/icons/picol/viewer_text.svg) no-repeat 5px 0px, -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CFCDCD), color-stop(1, #B0AEAE) );
	background: url(#{request.contextPath}/resources/gfx/icons/picol/viewer_text.svg) no-repeat 5px 0px, -moz-linear-gradient(center top, #CFCDCD 5%, #B0AEAE 100%);
	background: url(#{request.contextPath}/resources/gfx/icons/picol/viewer_text.svg) no-repeat 5px 0px, linear-gradient(top, #CFCDCD, #B0AEAE);
}
a.show-meta-data:hover, .show-meta-data:hover {
	background: url(#{request.contextPath}/resources/gfx/icons/picol/viewer_text.svg) no-repeat 5px 0px, -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B0AEAE), color-stop(1, #CFCDCD) );
	background: url(#{request.contextPath}/resources/gfx/icons/picol/viewer_text.svg) no-repeat 5px 0px, -moz-linear-gradient(center top, #B0AEAE 5%, #CFCDCD 100%);
	background: url(#{request.contextPath}/resources/gfx/icons/picol/viewer_text.svg) no-repeat 5px 0px, linear-gradient(top, #B0AEAE, #CFCDCD);
}

a.trash, .trash {
	background: url(#{request.contextPath}/resources/gfx/icons/picol/cancel.svg) no-repeat 5px 0px, -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CFCDCD), color-stop(1, #B0AEAE) );
	background: url(#{request.contextPath}/resources/gfx/icons/picol/cancel.svg) no-repeat 5px 0px, -moz-linear-gradient(center top, #CFCDCD 5%, #B0AEAE 100%);
	background: url(#{request.contextPath}/resources/gfx/icons/picol/cancel.svg) no-repeat 5px 0px, linear-gradient(top, #CFCDCD, #B0AEAE);
}
a.trash:hover, .trash:hover {
	background: url(#{request.contextPath}/resources/gfx/icons/picol/cancel.svg) no-repeat 5px 0px, -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B0AEAE), color-stop(1, #CFCDCD) );
	background: url(#{request.contextPath}/resources/gfx/icons/picol/cancel.svg) no-repeat 5px 0px, -moz-linear-gradient(center top, #B0AEAE 5%, #CFCDCD 100%);
	background: url(#{request.contextPath}/resources/gfx/icons/picol/cancel.svg) no-repeat 5px 0px, linear-gradient(top, #B0AEAE, #CFCDCD);
}

a.play, input.play {
	background: url(#{request.contextPath}/resources/gfx/icons/icomoon/play2-32.svg) no-repeat 5px 0px, -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CFCDCD), color-stop(1, #B0AEAE) );
	background: url(#{request.contextPath}/resources/gfx/icons/icomoon/play2-32.svg) no-repeat 5px 0px, -moz-linear-gradient(center top, #CFCDCD 5%, #B0AEAE 100%);
	background: url(#{request.contextPath}/resources/gfx/icons/icomoon/play2-32.svg) no-repeat 5px 0px, linear-gradient(top, #CFCDCD, #B0AEAE);
}
a.play:hover, input.play:hover {
	background: url(#{request.contextPath}/resources/gfx/icons/icomoon/play2-32.svg) no-repeat 5px 0px, -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B0AEAE), color-stop(1, #CFCDCD) );
	background: url(#{request.contextPath}/resources/gfx/icons/icomoon/play2-32.svg) no-repeat 5px 0px, -moz-linear-gradient(center top, #B0AEAE 5%, #CFCDCD 100%);
	background: url(#{request.contextPath}/resources/gfx/icons/icomoon/play2-32.svg) no-repeat 5px 0px, linear-gradient(top, #B0AEAE, #CFCDCD);
}

a.download-link, a.show-meta-data, a.trash, a.play, input.download-link, input.show-meta-data, input.trash, input.play,
a.download-link:hover, a.show-meta-data:hover, a.trash:hover, a.play:hover, input.download-link:hover, input.show-meta-data:hover, input.trash:hover, input.play:hover {
	padding: 0px 5px 0px 38px;
	background-size: contain;
}

/*
Do we need this?
input[type=submit]:active,input[type=button]:hover {
	position: relative;
	top: 1px;
}
*/
input[type=submit]:disabled,input[type=button]:disabled,.default-button:disabled
	{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CFCDCD
		), color-stop(1, #B0AEAE) );
	background: -moz-linear-gradient(center top, #CFCDCD 5%, #B0AEAE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCDCD',
		endColorstr='#B0AEAE' );
}

/* Save/Discard/Proceed button */
div.save-discard-proceed-buttons {
	width: 100%;
	margin-left: 2%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.save-discard-proceed-buttons input {
	margin-left: 15px;
}

.save-discard-proceed-buttons save-button {
	float: left;
}

input.sdsbutton {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	width: 200px;
	height: 40px;
	margin-right: 2px;
	/*background-color: green;*/
}

input.approve-button {
	margin-right: 50px;
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a
		), color-stop(1, #5cb811) );
	background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a',
		endColorstr='#5cb811' );
	background-color: #77d42a;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #268a16;
	display: inline-block;
	color: #306108;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
	padding: 10px;
}

input.approve-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811
		), color-stop(1, #77d42a) );
	background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811',
		endColorstr='#77d42a' );
	background-color: #5cb811;
	color: #306108;
}

input.save-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #B4F1FF;
	-webkit-box-shadow: inset 0px 1px 0px 0px #B4F1FF;
	box-shadow: inset 0px 1px 0px 0px #B4F1FF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #AEDEFF
		), color-stop(1, #6AD2FF) );
	background: -moz-linear-gradient(center top, #AEDEFF 5%, #6AD2FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AEDEFF',
		endColorstr='#6AD2FF' );
	background-color: #3BF7EA;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #2975A6;
	display: inline-block;
	color: #2B678B;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0px #92EBF6;
	padding: 10px;
}

input.save-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6AD2FF
		), color-stop(1, #AEDEFF) );
	background: -moz-linear-gradient(center top, #6AD2FF 5%, #AEDEFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6AD2FF',
		endColorstr='#AEDEFF' );
	background-color: #3290CC;
}

input.discard-button {
	float: left;
	-moz-box-shadow: inset 0px 1px 0px 0px #FEE0CB;
	-webkit-box-shadow: inset 0px 1px 0px 0px #FEE0CB;
	box-shadow: inset 0px 1px 0px 0px #FEE0CB;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FEB199
		), color-stop(1, #DB7D6B) );
	background: -moz-linear-gradient(center top, #FEB199 5%, #DB7D6B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEB199',
		endColorstr='#DB7D6B' );
	background-color: #FE8066;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #CD5B46;
	display: inline-block;
	color: #862F24;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0px #FFAB9B;
	padding: 10px;
}

input.discard-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #DB7D6B
		), color-stop(1, #FEB199) );
	background: -moz-linear-gradient(center top, #DB7D6B 5%, #FEB199 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DB7D6B',
		endColorstr='#FEB199' );
	background-color: #ce0100;
}

input.proceed-button {
	float: right;
	margin-right: 50px;
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a
		), color-stop(1, #5cb811) );
	background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a',
		endColorstr='#5cb811' );
	background-color: #77d42a;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #268a16;
	display: inline-block;
	color: #306108;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
	padding: 10px;
}

div.save-placeholder {
	display: inline-block;
	padding: 10px;
	height: 12px;
}

input.proceed-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811
		), color-stop(1, #77d42a) );
	background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811',
		endColorstr='#77d42a' );
	background-color: #5cb811;
	color: #306108;
}

.marks {
	color: red;
	display: inline-block;
	margin-left: 20px;
}

.errorMessage {
	margin-left: 31%;
}

.label-text {
	color: #3B3B3B;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: normal;
	cursor: help;
}

.label-text-nohelp {
	color: #3B3B3B;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: normal;
}

.label-text:hover {
	color: #7C7C7C;
}

table.size-full {
	border: black;
	width: 100%;
}

table.size-full td {
	padding-top: 10px;
	padding-bottom: 20px;
}

.tableStyle { /*border:1px solid black;*/
	width: 100%;
	border-spacing: 0px;
	/*background:red;*/
}

.tableStyle-header {
	color: black;
	font-size: 12px;
	text-align: center;
	background-color: #EEEEEE;
	border: 1px solid white;
}

.tableStyle-row { /*border-bottom: 1px solid black;*/
	/*background-color: #E6E6E6;*/
	padding-bottom: 5px;
	font-size: 12px;
}

.column-validation-results {
	padding-top: 0px;
	/*background:green;*/
	vertical-align: top;
}

th.rf-dt-shdr-c {
	background-image: url(none);
	background: #017298;
	color: white;
}

.service-parameter-au-popup .rf-au-lst-scrl {
	width: 570px;
}

.input .rf-au {
	background-image: none;
	width: 100%;
	border: none;
	font-size: 1em;
}

.input .rf-au-fld-btn {
	background-image: none;
	width: 100%;
}

.input .rf-au input {
	width: -moz-calc(100% -           16px -           15px);
	width: -webkit-calc(100% -           16px -           15px);
	width: calc(100% -           16px -           15px);
}

.input input.rf-au-inp {
	background-image: none;
	margin: 2px 0px 2px 0px;
}

.input .rf-au-btn {
	margin: 2px 0px 2px 0px;
	border: none;
	background-image: url(none);
	background: #017298;
}

.input .rf-au-btn-arrow {
	height: 23px;
}

div.menu-step { /*width:95%;
	margin-left: 2%;*/
	margin-top: 20px;
	margin-bottom: 20px;
	background: #017298;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 1px;
	border-top: 0px solid black;
	color: white;
}

div.help {
	background: white;
	width: 100%;
	margin-top: 20px;
}

.ajaxStatus {
	background: #EEEEEE url(#{request.contextPath}/resources/gfx/ai.gif)
		no-repeat;
	padding-left: 35px;
	padding-top: 5px;
	margin-bottom: 5px;
	z-index: 10000;
	height: 25px;
	display: block;
}

div.warning {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 900px;
	background-color: #FFCC33;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #BABABA;
	border-right: 1px solid #BABABA;
	border-top: 1px solid #BABABA;
	border-left: 1px solid #BABABA;
	border-radius: 5px;
	box-shadow: 0px 2px 10px 2px #888;
	font-family: Helvetica;
}

ul#messages {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 900px;
	background-color: #a9daeb;
	border-bottom: 1px solid #BABABA;
	border-right: 1px solid #BABABA;
	border-top: 1px solid #BABABA;
	border-left: 1px solid #BABABA;
	border-radius: 5px;
	box-shadow: 0px 2px 10px 2px #888;
	font-family: Helvetica;
}

#messages .error {
	list-style-image:
		url(#{request.contextPath}/javax.faces.resource/error.png.jsf?ln=org.richfaces);
	margin-left: 30px;
}

#messages .warning {
	list-style-image:
		url(#{request.contextPath}/javax.faces.resource/warning.png.jsf?ln=org.richfaces);
	margin-left: 30px;
}

#messages .info {
	list-style-image:
		url(#{request.contextPath}/javax.faces.resource/info.png.jsf?ln=org.richfaces);
	margin-left: 30px;
}

#data {
	display: inline-block;
}

#data input {
	margin-left: 15px;
}

#closeMapping {
	cursor: hand;
}

.sampleform {
	display: none;
	margin-top: 10px;
	margin-right: 10px;
	position: relative;
	float: left;
}

.multi-buttons input[type="submit"],.multi-buttons input[type="button"],.multi-buttons a.default-button
	{
	margin-right: 10px;
}

div.user {
	width: 100%;
}

img.user {
	vertical-align: middle;
	padding-right: 5px;
}

div.rf-pp-hdr {
	background-image: url(none);
	background: #017298;
}

div.rf-pp-hdr-cnt {
	color: white;
	font-size: 14px;
}

div.rf-pp-hdr-cntrls a {
	color: white;
	font-size: 18px;
	padding: 4px;
}

div.rf-pp-cntr {
	border: 1px solid #000000;
}

.paged-list .rf-ds {
	width: 100%;
	text-align: center;
	background: none;
}

.paged-list .rf-ds-btn,.paged-list .rf-ds-btn:HOVER,.paged-list .rf-ds-nmb-btn,.paged-list .rf-ds-nmb-btn:HOVER
	{
	background: none;
	border: none;
	color: black;
	font-size: 14px;
}

.paged-list {
	width: 100%;
	padding: 2px;
	/*
	background-color: white;
	border-top: 1px solid #155C89;
	border-right: 1px solid #155C89;
	border-bottom: 1px solid #155C89;
	border-left: 11px solid #155C89;
	*/
}

.paged-list .rf-dg {
	width: 100%;
}

.paged-list .rf-dg-c {
	color: #000;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	border: 1px solid A0A0A0;
}

.toolinfo {
	display: none;
}

div.leftcolumn {
	float: left;
}

div.rightcolumn {
	float: right;
}

div.clear {
	clear: both;
}

.div-overlay {
	display: none;
	font-size: 3em;
	text-align: center;
	padding-top: 0.2em;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity =                                                 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	z-index: 10000;
}

.rf-fu-lst {
	height: 100px;
}

/* Slider */
span.rf-insl-trc {
	background: white;
}

span.rf-insl-trc-cntr {
	width: 90%;
}

span.rf-insl {
	width: 100%;
}

.done {
	color: rgb(14, 180, 0);
}

span.objective {
	font-weight: bold;
}

span.measure {
	font-weight: bold;
	color: rgb(4, 60, 204);
}

span.qualifier {
	font-weight: bold;
	color: rgb(109, 109, 0);
}

span.modality {
	font-weight: bold;
	color: rgb(149, 6, 155);
}

span.value {
	font-weight: bold;
}

/* service outputs */
.registry-panel {
	float: left;
	min-width: 200px;
	margin: 15px;
}

.registry-panel input {
	width: 100%;
}

.registry-logo {
	min-width: 150px;
	height: 40px;
	border: 1px solid #BABABA;
}

.registry-logo img {
	float: left;
	height: 40px;
}

.service-filters {
	padding: 5px;
	border-collapse: collapse;
}

.service-filters-filter {
	float: left;
	padding: 3px;
}

.service-filters input[type=submit] {
	float: right;
}

.service-results {
	width: 100%;
	border-collapse: collapse;
}

.service-results td {
	border: 1px solid #C4C0B9;
}

td.service-marker {
	background-color: #CFCDCD;
	width: 11px;
	padding: 0px;
}

td.service-marker-myExperiment {
	background-color: #ce0434;
}

td.service-marker-myExperiment-plan {
	background-color: #940325;
}

td.service-marker-MiniMEE-migration {
	background-color: white;
}

td.service-marker-P2 {
	background-color: #005eb2;
}

.service-action {
	width: 26px;
	padding: 4px;
}

.service-action input {
	font-size: 30px;
	padding: 3px;
	height: 100%;
	width: 26px;
}

.service-action input.run {
	font-size: 24px;
}

td.service-info {
	position: relative;
	padding: 0px;
}

.service-info a {
	font-size: 12px;
}

.service-info-panel {
	display: block;
	width: 100%;
	min-height: 60px;
	clear: both;
	background: white;
}

/* Clear after each node */
.service-info-panel:before,.service-info-panel:after {
	content: "";
	display: table;
}

.service-info-panel:after {
	clear: both;
}

.service-info-header {
	padding: 3px;
	background-color: #EEEEEE;
	font-size: 14px;
}

.service-info-info {
	padding: 3px;
	font-size: 12px;
}

.service-info-metadata {
	float: right;
	margin: 0px 5px 0px 15px;
	padding: 3px;
	border: 1px dotted black;
}

.service-info-metadata ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.service-info-footer {
	padding: 3px;
	background-color: #FAFAFA;
	font-size: 12px;
	clear: both;
}

.service-info-footer a {
	font-size: 12px;
}

.service-info-preview {
	float: left;
	max-width: 160px;
	max-height: 160px;
}

.service-info-preview img {
	max-width: 160px;
	max-height: 160px;
}

.service-info-status {
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 16px;
	width: 16px;
}

.service-status-start {
	display: block;
}

.service-status-stop {
	display: none;
}

.service-info-status img {
	width: 16px;
	height: 16px;
}

.service-info-rating {
	unicode-bidi: bidi-override;
}

.service-info-rating {
	font-size: 14px;
}

.service-info-rating span {
	position: absolute;
	overflow: hidden;
}

.separator-or-vertical {
	display: inline-block;
	text-align: center;
	content: 'or';
	width: 20px;
	height: 20px;
	line-height: 20px;
	border:1px solid #C4C0B9;
	border-radius:100%;
}

/* Confirmation panel */
.confirmation-container {
	position: relative;
}

.confirmation-panel {
	display: none;
	position: absolute;
	right: 0px;
	background-color: #FE8066;
	border: 1px solid #BABABA;
	padding: 3px 20px 3px 3px;
	width: 200px;
	z-index: 10;
}

.confirmation-close {
	position: absolute;
	padding: 2px;
	top: 0px;
	right: 0px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.confirmation-close:hover {
	color: white;
}

/* General text */
.text-understate {
	color: #BABABA;
}