/**
css for workflow steps
*/

td.trigger {
	border: 1px solid white;
	padding-left: 10px;
}

.sampleobject {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

.objectformat {
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

table.table-small {
	font-size:small;
}

.text-table {
	font-size:small;
}