body {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background: #DADADA;
	font-family: Verdana, sans-serif;
	font-size: 1em;
}

.pagePart {
	width: 100%;
	margin-bottom: 20px;
}

table.propertiesTable {
	width: 100%;
	margin: 0;
}

table.propertiesTable tr>td:first-child {
	width: 40%;
}

.loadingStatus-start {
	display: block;
	margin: 30px;
}

.loadingStatus-start-image {
	width: 32px;
	height: 32px;
	float: left;
	vertical-align: middle;
	margin-right: 10px;
}

.loadingStatus-start-message {
	
}

.loadingStatus-stop {
	display: none;
}

.layout-twocolumn-left { /*
	
	width: 480px;
	margin-right: 10px;*/
	float: left;
	width: 48%;
}

.layout-twocolumn-left2 { /*
	
	width: 480px;
	margin-right: 10px;*/
	margin-top: 10px;
	float: left;
	width: 90%;
}

.layout-twocolumn-right { /*width: 49%;
	width: 480px;
	margin-left: 10px;*/
	float: right;
	width: 48%;
}

.popup-panel-fixed-size {
	width: 800px;
	height: 600px;
}

.popup-content-fixed-size {
	width: 100%;
	height: 580px;
}

.popup-panel-fixed-width {
	width: 800px;
}

.popup-content-fixed-width {
	width: 100%;
}

.chart {
	height: 400px;
}

.chart-fixed-tick-width .jqplot-yaxis-tick {
	white-space: normal;
	width: 300px;
}

.jqplot-target,.jqplot-xaxis-label,.jqplot-yaxis-label {
	color: black;
	font-size: 1.3em;
}

.panel {
	background-color: #F8F8F8;
	padding: 10px;
	border: 1px solid silver;
	margin-bottom: 20px;
}

.outstanding-number {
	height: 36px;
	font-size: 36px;
	float: left;
}

.outstanding-number-text {
	height: 36px;
	font-size: 14px;
	float: left;
	margin-left: 5px;
	line-height: 18px;
}

/* Input fields */
select {
	border: 1px solid #155C89
}

/* Tabs */
.rf-tab-hdr-act.rf-tab-hdr-top {
	background: #017298;
	color: white;
	padding: 3px 5px 3px 5px;
}

.rf-tab-hdr-inact.rf-tab-hdr-top {
	background: #1c8baf;
	color: white;
	padding: 3px 5px 3px 5px;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
	background: #FFFFFF;
	border: none;
}

.rf-tab-hdr-brd {
	background: #1c8baf;
	border: none;
}

.rf-tab-cnt {
	border: 1px solid #BABABA;
	font-size: 1em;
}