<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DIaLOGIKa.Planets.Preservation.MicrosoftConversionTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DIaLOGIKa.Planets.Preservation.Converters.Doc2OpenXml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DIaLOGIKa.Planets.Preservation.Converters.Odf2OpenXml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DIaLOGIKa.Planets.Preservation.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DIaLOGIKa.Planets.Preservation.MicrosoftConversionTool.Properties.Settings>
      <setting name="WorkFolder" serializeAs="String">
        <value>work</value>
      </setting>
      <setting name="Overwrite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateXmlReport" serializeAs="String">
        <value>True</value>
      </setting>
    </DIaLOGIKa.Planets.Preservation.MicrosoftConversionTool.Properties.Settings>
    <DIaLOGIKa.Planets.Preservation.Converters.Doc2OpenXml.Properties.Settings>
      <setting name="WordConvPath" serializeAs="String">
        <value>C:\Program Files\Microsoft Office\Office12\wordconv.exe</value>
      </setting>
      <setting name="ExcelCnvPath" serializeAs="String">
        <value>C:\Program Files\Microsoft Office\Office12\excelcnv.exe</value>
      </setting>
      <setting name="PPCnvComPath" serializeAs="String">
        <value>C:\Program Files\Microsoft Office\Office12\ppcnvcom.exe</value>
      </setting>
    </DIaLOGIKa.Planets.Preservation.Converters.Doc2OpenXml.Properties.Settings>
    <DIaLOGIKa.Planets.Preservation.Converters.Odf2OpenXml.Properties.Settings>
      <setting name="OdfConverterPath" serializeAs="String">
        <value>odf-translator 1.1\OdfConverter.exe</value>
      </setting>
    </DIaLOGIKa.Planets.Preservation.Converters.Odf2OpenXml.Properties.Settings>
    <DIaLOGIKa.Planets.Preservation.Utils.Properties.Settings>
      <setting name="LogLevel" serializeAs="String">
        <value>1</value>
      </setting>
    </DIaLOGIKa.Planets.Preservation.Utils.Properties.Settings>
  </applicationSettings>
</configuration>