{{#semanticAnnotation}}
<annotation_chain_2_2 encoding="xstream">
  <net.sf.taverna.t2.annotation.AnnotationChainImpl>
    <annotationAssertions>
      <net.sf.taverna.t2.annotation.AnnotationAssertionImpl>
        <annotationBean class="net.sf.taverna.t2.annotation.annotationbeans.SemanticAnnotation">
          <mimeType>text/rdf+n3</mimeType>
          <content>{{{semanticAnnotation}}}</content>
        </annotationBean>
        <date>{{date}}</date>
        <creators />
        <curationEventList />
      </net.sf.taverna.t2.annotation.AnnotationAssertionImpl>
    </annotationAssertions>
  </net.sf.taverna.t2.annotation.AnnotationChainImpl>
</annotation_chain_2_2>
{{/semanticAnnotation}}